body {

  background-image: url(foto8.jpg);
  background-position: center;
  display: ;
  background-size: cover;
  background-color: black;
  color: white;

}
a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-family:  fantasy;
  display:inline;
}
.menu {
  text-align: center;
  border-radius: 5px;
  border: solid red;
  border-width: 1px;
  background-color: black;

}
.consulenza {
  color: red;
  background-color: black;
  font-family:  monospace;
  font-size: 15px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 10px red;
  text-align: center;
  border: solid red;
  border-width: 1px;
  border-radius: 5px;
  animation: coloreTesto 7s;
}
@keyframes coloreTesto {
  0% {color: black;}

  100% {color: red;}
}
.nome {
  text-align: center;
  text-shadow: 1px 1px 10px red;
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  font-family: serif;
  color: white;
  font-size: 20px;
}

}
button {

  width: 100px;
  height: 50px;
  background-color: black;

}
button img {
  display:none;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  width: 350px;
  height: 320px;


}
button:active img {
  display: block;
}
.botton {
  letter-spacing: 30px;
  font-size: 20px;
  color: red;
}
.before, .after, .submit {
  color: red;
  font-size: 20px;
  background-color: black;
  box-shadow: 1px 1px 10px 5px red;
  font-family: serif;
  text-shadow: 1px 1px 8px red;
}
